.chatBox {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
}
.inlineContainer {
    display: inline-flex;
}
.inlineContainer.own {
    flex-direction: row-reverse;
}
.inlineIcon {
    width:20px;
    object-fit: contain;
}
.ownBox {
    min-width: 60px;
    max-width: 700px;
    padding: 10px 16px;
    margin: 6px 8px;
    background-color: #dbf4ff;
    border-radius: 16px 16px 0 16px;
    border: 3px solid #ebf6ff;

}
.otherBox {
    min-width: 60px;
    max-width: 700px;
    padding: 10px 16px;
    margin: 6px 8px;
    background-color: #e6e6e6;
    border-radius: 16px 16px 16px 0;
    border: 3px solid #eaeaea;

}
.own {
    align-self: flex-end;
}
.other {
    align-self: flex-start;
}
span.own,
span.other{
    font-size: 14px;
    color: grey;
}

.send-message-block{
    margin: 0 auto;
    position: absolute;
    bottom: 1%;
    width: 1000px;
}

